.corpo {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr; /* Divide a largura em 1/5, 1/5 e 3/5 */
    grid-template-rows: 12vh 25vh auto; /* Define a altura do menu superior e o restante para o conteúdo */
    height: 100vh; /* Define a altura total para ocupar a tela inteira */
  }
  
  .menu-superior {
    grid-column: 1 / span 3; /* Ocupa todas as 3 colunas */
    grid-row: 1 / 3; /* Ocupa a primeira linha */
    background-color: gray;
  }
  
  .menu-lateral {
    grid-column: 1 / 2; /* Ocupa a primeira coluna */
    grid-row: 2 / span 2; /* Ocupa 2 linhas abaixo da primeira */
    background-color: lightgray;
  }
  
  .area-informacoes {
    grid-column: 2 / span 2; /* Ocupa a segunda coluna */
    grid-row: 2 / 3; /* Ocupa a segunda linha */
    background-color: lightblue;
  }
  
  .conteudo {
    grid-column: 2 / span 2; /* Ocupa 2 colunas a partir da segunda coluna */
    grid-row: 3 / 4; /* Ocupa a terceira linha */
    background-color: beige;
  }