/*.corpo {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 12vh 25vh auto;
  height: 100vh;
  overflow: hidden;
}

.menu-superior {
  grid-column: 1 / span 3;
  grid-row: 1 / 3;
  background-color: gray;
}

.menu-lateral {
  grid-column: 1 / 2;
  grid-row: 2 / span 2;
  background-color: lightgray;
}

.area-informacoes {
  grid-column: 2 / span 2;
  grid-row: 2 / 3;
  background-color: var(--body-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-top: 1px solid var(--grey-shadow);
  border-bottom: 1px solid var(--grey-shadow);
}

.evento {
  flex-basis: 50%;
}

.botoes {
  display: flex;
  gap: 10px;
}

.conteudo {
  grid-column: 2 / span 2;
  grid-row: 3 / 4;
  background-color: beige;
  padding: 0 10px;
  overflow-y: scroll;
}

.cards-group {
  flex-basis: calc(25% - 10px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: lightgray;
  height: 50vh !important;
  width: 40vh !important;
}

.card.small {
  height: 15vh !important;
}

.evento-header {
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 2vh;
}

.evento-nome {
  font-weight: bold;
}

.evento-detalhe {
  color: var(--grey);
} */