.navbar {
    background-color: #fff;
    position: fixed;
    height: 12vh;
    width: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    height: 12vh;
}