.classes-tabela {
  width: 100%;
  border-collapse: collapse;
}

.classes-cabecalho {
  border-bottom: 1px solid var(--grey-shadow);
  border-top: 1px solid var(--grey-shadow);
  padding: 10px;
  text-align: center;
}

.classes-rodape {
  border-bottom: 1px solid var(--grey-shadow);
  border-top: 1px solid var(--grey-shadow);
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.classes-celula {
  border-bottom: 1px solid var(--grey-shadow);
  text-align: center;
}

.classes-botao-expandir {
  width: 30px;
  height: 30px;
  background-color: var(--blue);
  color: white;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 10px;
  border: none
}


.classes-conteudo-expandido {
  border-bottom: 1px solid var(--grey-shadow);
  text-align: center;
}

.classes-linha-branca {
  background-color: #ffffff;
}

.classes-linha-cinza {
  background-color: #f2f2f2;
}

.classes-linha-azul {
  background-color: lightblue;
  font-weight: bold;
  border-bottom: 1px solid var(--grey-shadow);
  text-align: center;
}
  